<html>
	<head>
		<meta charset="utf-8" />
		<title>Profil - TASI Trainingsassistent</title>

		<link rel="stylesheet" type="text/css" href="./css/chart.css">
		<script src="https://d3js.org/d3.v4.min.js"></script>


	</head>
	
	
	<body>
		<script type="module">
			import{chart} from './js/chart-001.mjs';		
			var data = [
				{"valX": 1, "valY": 9},
				{"valX": 2, "valY": 12},				
				{"valX": 3, "valY": 10},				
				{"valX": 4, "valY": 8},				
				{"valX": 5, "valY": 12},
				{"valX": 6, "valY": 14},
				{"valX": 7, "valY": 18},				
				{"valX": 8, "valY": 12},				
				{"valX": 9, "valY": 15},				
				{"valX": 10, "valY": 14}		
			];
			chart(data);
		</script>
	</body>
</html>
